/*PRIMARY COLORS*/
/*SECONDARY COLORS*/
/*MOBILE TXT STYLES*/
/*CHECK IF THIS IS DEMI*---->*/
/*TABLET & DESKTOP TXT STYLES*/
/*TABLET & DESKTOP MIXINS*/
/*FONT STYLE*/
@font-face {
  font-family: "avenir-reg";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAV BAR STYLES*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding-top: 16px;
  width: 100%;
  /*<---fixed navigation to TOP--->*/
  /*<---nav LOGO--->*/
  /*<---nav links--->*/
  /*ITEM HOVERS*/
  /*nav links--*/
}
@media screen and (min-width: 768px) {
  .nav {
    padding-left: 36px;
    padding-right: 36px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.nav__logo, .footer__logo {
  margin: auto;
  height: 20px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .nav__logo, .footer__logo {
    margin: 0;
    display: flex;
    align-self: center;
    margin-bottom: 0.5rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding-left: 24px;
    width: 275px;
  }
}
.nav__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    justify-content: center;
    width: 20%;
  }
}
.nav__item:hover {
  -webkit-animation: nav-hover 0.5s;
          animation: nav-hover 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.nav__item--active {
  padding-bottom: 0.5rem;
  color: #ffffff;
  border-bottom: 3px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    border-bottom: 3px solid #e1e1e1;
    width: 25%;
  }
}
@-webkit-keyframes nav-hover {
  from {
    border-bottom: 3px solid #323232;
  }
  to {
    border-bottom: 3px solid #e1e1e1;
  }
}
@keyframes nav-hover {
  from {
    border-bottom: 3px solid #323232;
  }
  to {
    border-bottom: 3px solid #e1e1e1;
  }
}
.nav__link {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: flex;
    align-content: center;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: "avenir-reg";
    padding-bottom: 1.5rem;
  }
}
.nav__link__link--bold {
  font-weight: bold;
}

/*HERO SECTION*/
/*<---Hero Img--->*/
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 12rem;
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  /*<---Overlay Background--->*/
  /*<---The Bees Knees Logo--->*/
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background-position: bottom;
    height: 28rem;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    background-position: center;
    height: 37rem;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  display: flex;
  justify-self: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.hero__header {
  display: flex;
  align-self: center;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}

/*ABOUT SECTION*/
/*<---Main About Box--->*/
.about {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  /*<---About Musicians Header--->*/
  /*<---Band Img Box--->*/
  /*<---Band Img--->*/
  /*<---Band Quote/Quotee--->*/
  /*<---Musician Title (The Bees Knees)--->*/
  /*<---Txt Box--->*/
}
@media screen and (min-width: 768px) {
  .about {
    padding: 48px 36px 36px 36px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 80px;
    padding-right: 80px;
    width: 1280px;
  }
}
.about__header {
  padding-bottom: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi";
}
@media screen and (min-width: 768px) {
  .about__header {
    padding-bottom: 36px;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}
.about__band {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__band {
    margin: auto;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__band {
    margin: auto;
  }
}
.about__img {
  height: 11rem;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin: auto;
    padding-bottom: 36px;
    height: 22rem;
    width: 36rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    height: 37rem;
    width: 59rem;
  }
}
.about__quote {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-demi";
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "avenir-demi";
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    margin-left: 85px;
    margin-right: 85px;
  }
}
.about__quotee {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .about__quotee {
    margin-left: 60px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "avenir-demi";
  }
}
@media screen and (min-width: 1280px) {
  .about__quotee {
    margin-left: 85px;
    margin-right: 85px;
  }
}
.about__musician {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .about__musician {
    margin: auto;
    padding-left: 60px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "avenir-demi";
  }
}
@media screen and (min-width: 1280px) {
  .about__musician {
    padding-left: 0;
    padding-right: 0;
    margin-left: 85px;
    margin-right: 85px;
  }
}
.about__txt--first {
  width: 283px;
  padding-bottom: 16px;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .about__txt--first {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: "avenir-reg";
    padding-bottom: 0;
    width: 279px;
  }
}
@media screen and (min-width: 1280px) {
  .about__txt--first {
    width: 415px;
  }
}
.about__txt--second {
  width: 279px;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  .about__txt--second {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: "avenir-reg";
    width: 279px;
  }
}
@media screen and (min-width: 1280px) {
  .about__txt--second {
    width: 415px;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    padding-left: 85px;
    padding-right: 85px;
  }
}

/*PHOTO GALLERY SECTION*/
/*<---Gallery Box--->*/
.gallery {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fafafa;
  width: 320px;
  margin: auto;
  /*<---Photo Gallery Header--->*/
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 48px 36px 20px 36px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 80px;
    padding-right: 80px;
    width: 1280px;
  }
}
.gallery__header {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi";
}
@media screen and (min-width: 768px) {
  .gallery__header {
    padding-top: 0;
    padding-bottom: 36px;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 32%;
  }
}
.gallery__item:hover {
  -webkit-animation: img-hover 0.3s linear;
          animation: img-hover 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes img-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
@keyframes img-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}

/*FOOTER SECTION*/
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  margin: auto;
  /*<---Footer Header (Get in Touch)--->*/
  /*<---Social Media Box--->*/
  /*<---Social Media Icon SVGs--->*/
  /*<---Person Contact Info Individual Box--->*/
  /*<---Link to footer emails->*/
  /*<---Person's Name/Company(BOLDED)--->*/
  /*<---Person's Name/Company(BOLDED)--->*/
  /*<---Footer Bandsite Logo--->*/
  /*<---Footer Copyrights--->*/
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 36px 36px 36px;
  }
  .footer__container {
    display: flex;
    padding-bottom: 20px;
  }
  .footer__lists {
    display: flex;
    justify-content: space-between;
    width: 93%;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer__lists {
    width: 58%;
  }
}
.footer__header {
  padding-top: 24px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi";
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}
.footer__box {
  padding-bottom: 8px;
}
.footer__social {
  display: flex;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .footer__social {
    align-self: center;
  }
}
.footer__icons {
  padding-right: 32px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding: 0.5rem 0 0 1.5rem;
  }
}
.footer__contact {
  color: #ffffff;
  list-style-type: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
.footer__emails {
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
  text-decoration: none;
}
.footer__person--bold {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg";
}
.footer__person {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__person {
    padding-bottom: 22px;
  }
}
.footer__logo {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 52px;
    right: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    top: 48px;
    right: 80px;
  }
}
.footer__copyright {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "avenir-bold";
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 14px;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-reg";
  }
}/*# sourceMappingURL=bio.css.map */