/*PRIMARY COLORS*/
/*SECONDARY COLORS*/
/*MOBILE TXT STYLES*/
/*CHECK IF THIS IS DEMI*---->*/
/*TABLET & DESKTOP TXT STYLES*/
/*TABLET & DESKTOP MIXINS*/
/*IMAGE HOVER*/
@-webkit-keyframes img-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
@keyframes img-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
@-webkit-keyframes nav-hover {
  from {
    border-bottom: 3px solid #323232;
  }
  to {
    border-bottom: 3px solid #ffffff;
  }
}
@keyframes nav-hover {
  from {
    border-bottom: 3px solid #323232;
  }
  to {
    border-bottom: 3px solid #ffffff;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*FONT STYLE*/
@font-face {
  font-family: "avenir-reg";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
}
/*NAV BAR STYLES*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding-top: 16px;
  min-width: 320px;
  /*<---fixed navigation to TOP--->*/
  /*<---Nav LOGO--->*/
  /*<---Nav Links--->*/
  /*<---Nav List Item Hover--->*/
  /*<---Nav Links--->*/
}
@media screen and (min-width: 768px) {
  .nav {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.nav__logo, .footer__logo {
  margin: auto;
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .nav__logo, .footer__logo {
    margin: 0;
    display: flex;
    align-self: center;
    margin-bottom: 0.5rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding-left: 1.5rem;
    width: 17.1875rem;
  }
}
.nav__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    justify-content: center;
    width: 20%;
  }
}
.nav__item:hover {
  -webkit-animation: nav-hover 0.5s;
          animation: nav-hover 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.nav__item--active {
  padding-bottom: 0.5rem;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    border-bottom: 3px solid #ffffff;
    width: 25%;
  }
}
.nav__link {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: flex;
    align-content: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg", "sans-serif";
    padding-bottom: 1.5rem;
  }
}
.nav__link--bold {
  font-weight: bold;
  color: #ffffff;
}

/*FOOTER SECTION*/
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  min-width: 320px;
  margin: auto;
  /*<---Footer Header (Get in Touch)--->*/
  /*<---Individual Contact Info box--->*/
  /*<---Social Media Box--->*/
  /*<---Social Media Icon SVGs--->*/
  /*<---Individual Boxes for Person's Contact Info--->*/
  /*<---Email Links->*/
  /*<---Person's Name/Company(BOLDED)--->*/
  /*<---Person's Contact Info--->*/
  /*<---Footer Bandsite Logo--->*/
  /*<---Footer Copyrights--->*/
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 36px 36px 36px;
  }
  .footer__container {
    display: flex;
    padding-bottom: 1.25rem;
  }
  .footer__lists {
    display: flex;
    justify-content: space-between;
    width: 40.4375rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer__lists {
    width: 40.625rem;
  }
}
.footer__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi", "sans-serif";
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-demi", "sans-serif";
  }
}
.footer__box {
  padding-bottom: 8px;
}
.footer__social {
  display: flex;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .footer__social {
    align-self: center;
  }
}
.footer__icons {
  padding-right: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding: 0.5rem 0 0 1.5rem;
  }
}
.footer__contact {
  color: #ffffff;
  list-style-type: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
.footer__emails {
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
  text-decoration: none;
}
.footer__person--bold {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
.footer__person {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__person {
    padding-bottom: 1.375rem;
  }
}
.footer__logo {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3.25rem;
    right: 2.1875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    top: 3rem;
    right: 5rem;
  }
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "avenir-bold", "sans-serif";
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 0.875rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-reg", "sans-serif";
  }
}

/*HERO SECTION*/
/*<---Hero Img--->*/
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 60vw;
  min-width: 320px;
  margin: auto;
  display: flex;
  position: relative;
  /*<---Overlay Background--->*/
  /*<---The Bees Knees Logo--->*/
}
@media screen and (min-width: 768px) {
  .hero {
    background-position: bottom;
    height: 58vw;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-position: center -4rem;
    height: 46vw;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  display: flex;
  justify-self: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.hero__header {
  display: flex;
  align-self: center;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi", "sans-serif";
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "avenir-demi", "sans-serif";
  }
}

/*ABOUT SECTION*/
/*<---Main About Box--->*/
.about {
  margin: auto;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  /*<---About Musicians Header--->*/
  /*<---Band Img Box--->*/
  /*<---Band Img--->*/
  /*<---Band Quote/Quotee--->*/
  /*<---Musician Title (The Bees Knees)--->*/
  /*<---Txt Box--->*/
}
@media screen and (min-width: 768px) {
  .about {
    padding: 48px 36px 36px 36px;
    min-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 5rem;
    padding-right: 5rem;
    min-width: 1280px;
    width: 80%;
  }
}
.about__header {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__header {
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-demi", "sans-serif";
  }
}
.about__band {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__band {
    padding-bottom: 2.25rem;
  }
}
.about__img {
  height: 55vw;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin: auto;
    padding-bottom: 2.25rem;
    height: 46vw;
    width: 84%;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    height: 46.25vw;
    min-width: 59rem;
    margin: auto;
  }
}
.about__quote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 300px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-demi", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    padding-top: 0;
    width: 610px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "avenir-demi", "sans-serif";
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    margin-left: 8%;
    width: 64%;
  }
}
.about__quotee {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__quotee {
    margin-left: 3.75rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: "avenir-demi";
  }
}
@media screen and (min-width: 1280px) {
  .about__quotee {
    margin-left: 8%;
  }
}
.about__musician {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__musician {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "avenir-demi", "sans-serif";
  }
}
@media screen and (min-width: 1280px) {
  .about__musician {
    padding-left: 0;
    padding-right: 0;
    margin-left: 5.3125rem;
    margin-right: 5.3125rem;
  }
}
.about__txt--first {
  width: 17.6875rem;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__txt--first {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg", "sans-serif";
    padding-bottom: 0;
    width: 17.4375rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__txt--first {
    width: 25.9375rem;
  }
}
.about__txt--second {
  width: 17.4375rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
@media screen and (min-width: 768px) {
  .about__txt--second {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg", "sans-serif";
    width: 17.4375rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__txt--second {
    width: 25.9375rem;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    padding-left: 5.3125rem;
    padding-right: 5.3125rem;
  }
}

/*PHOTO GALLERY SECTION*/
/*<---Entire Gallery Box--->*/
.gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
  width: 100%;
  min-width: 20rem;
  margin: auto;
  /*<---Photo Gallery Header--->*/
  /*<---Gallery Photo List Container--->*/
  /*<---Gallery Photos--->*/
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 48px 36px 20px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.gallery__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi", "sans-serif";
}
@media screen and (min-width: 768px) {
  .gallery__header {
    padding-top: 0;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-demi", "sans-serif";
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 32%;
  }
}
.gallery__item:hover {
  -webkit-animation: img-hover 0.3s linear;
          animation: img-hover 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.convo {
  padding: 24px 16px 16px 16px;
  width: 20rem;
}
@media screen and (min-width: 768px) {
  .convo {
    padding: 48px 36px 20px 36px;
    width: 48rem;
  }
}
@media screen and (min-width: 1280px) {
  .convo {
    margin: auto;
    width: 80rem;
  }
}
.convo__form {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.convo__form-submit {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .convo__form-submit {
    width: 84%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .convo__form-submit {
    width: 52%;
    border-bottom: 1px solid #e1e1e1;
  }
}
.convo__lbl {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-reg", "sans-serif";
  color: #afafaf;
}
.convo__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-demi", "sans-serif";
  padding-bottom: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .convo__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-demi", "sans-serif";
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .convo__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-demi", "sans-serif";
    margin-left: 3%;
  }
}
.convo__btn {
  background-color: #323232;
  cursor: pointer;
  color: #ffffff;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-family: "avenir-reg", "sans-serif";
  border-style: unset;
}
.convo__btn:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .convo__btn {
    width: 9.375rem;
    position: relative;
    left: 71.5%;
    margin-bottom: 0.25rem;
  }
}
.convo__comments {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .convo__comments {
    width: 84%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .convo__comments {
    width: 39.26rem;
  }
}
.convo__indv-box {
  display: flex;
  flex-direction: row;
  height: 8.75rem;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .convo__indv-box {
    height: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .convo__indv-box {
    margin-right: 0.6875rem;
  }
}
.convo__sub-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0.75rem;
  width: 80%;
}
.convo__avatar {
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 0.9375rem;
  margin-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .convo__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.convo__avatar--background {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .convo__avatar--background {
    width: 3rem;
    height: 3rem;
  }
}
.convo__indv-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
}
.convo__txt {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "avenir-reg", "sans-serif";
  display: flex;
  margin-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .convo__txt {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-reg", "sans-serif";
  }
}
@media screen and (min-width: 1280px) {
  .convo__txt {
    width: 32.5rem;
  }
}
.convo__comm-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "avenir-demi", "sans-serif";
  overflow: hidden;
  width: 59%;
}
.convo__comm-date {
  color: #afafaf;
}

#name {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  background-color: #fafafa;
  border-color: #e1e1e1;
  background-color: #fafafa;
  border-style: solid;
  outline-color: #323232;
  border-width: 0.0625rem;
  padding: 0.75rem;
}
@media screen and (min-width: 768px) {
  #name {
    height: 3rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  #name {
    margin-right: 0.6875rem;
  }
}

#comment {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  height: 6.25rem;
  border-radius: 0.25rem;
  background-color: #fafafa;
  border-color: #e1e1e1;
  border-style: solid;
  outline-color: #323232;
  resize: none;
  padding: 0.75rem;
  font-family: "avenir-reg";
}
@media screen and (min-width: 768px) {
  #comment {
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  #comment {
    margin-right: 0.6875rem;
  }
}/*# sourceMappingURL=bio.css.map */