@use "./partials/partials" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/
/*MOBILE*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 16px 0;

  @include tablet {
    padding-left: 2.25rem;
    flex-direction: row;
  }

  &__logo {
    margin: auto;
    height: 1.25rem;
    width: 7.5rem;

    @include tablet {
      margin: 0;
      display: flex;
      align-self: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 1rem;
    text-align: center;
  }

  &__item {
    border-bottom: 2px solid $mercury;
    width: 50%;
  }

  &__link {
    color: $mercury;
    text-decoration: none;
    @include sub-header;
    &--active {
      padding-bottom: 1.0625rem;
      width: 50%;
    }

    @include tablet {
      display: flex;
      align-content: center;
      padding-right: 1.5rem;
      @include td-label-btn;
    }
  }
}

/*HERO SECTION*/
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 13rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;

  @include tablet {
    background-position: bottom;
    height: 28rem;
  }

  &__overlay {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    display: flex;
    justify-self: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__header {
    display: flex;
    align-self: center;
    color: $mercury;
    padding-left: 1rem;
    @include page-header;

    @include tablet {
      padding-left: 2.25rem;
      @include td-page-header;
    }
  }
}

/*ABOUT SECTION*/
.about {
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 36px 48px 36px 48px;
  }

  &__header {
    padding-bottom: 1rem;
    @include section-header;

    @include tablet {
      padding-bottom: 2.25rem;
      @include td-section-header;
    }
  }

  &__band {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      padding-bottom: 2.25rem;
    }
  }

  &__quote {
    padding-top: 1rem;
    max-width: 300px;
    @include sub-header;

    @include tablet {
      max-width: 50rem;
      @include td-sub-header;
    }
  }

  &__quotee {
    padding-bottom: 1rem;
    max-width: 18.75rem;
    @include sub-header;

    @include tablet {
      padding-top: 1rem;
      max-width: 31.25rem;
      @include td-body-foot;
    }
  }

  &__musician {
    @include sub-header;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      @include td-sub-header;
    }
  }

  &__txt--first {
    max-width: 17.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include body-foot;

    @include tablet {
      @include td-body-foot;
    }
  }

  &__txt--second {
    max-width: 279px;
    padding-bottom: 1rem;
    @include body-foot;

    @include tablet {
      @include td-body-foot;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
  }
}

/*PHOTO GALLERY SECTION*/
.gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    @include section-header;

    @include tablet {
      padding-left: 0.5rem;
      @include td-section-header;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 2.25rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;

    @include tablet {
      margin: 10px;
      padding: 0;
      width: 30%;
    }
  }
}

/*FOOTER SECTION*/
.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    padding: 36px 48px 36px 48px;
    &__lists {
      display: flex;
      justify-content: space-between;
    }
  }

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: $mercury;
    @include section-header;

    @include tablet {
      @include td-section-header;
    }
  }

  &__social {
    display: flex;
    align-self: center;
    list-style-type: none;

    @include tablet {
      padding-left: 2rem;
    }
  }

  &__icons {
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  &__contact {
    color: $mercury;
    list-style-type: none;
    @include body-foot;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__person--bold {
    padding-bottom: 16px;
    @include sub-header;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__person {
    padding-bottom: 16px;
    display: flex;
    justify-content: column;
  }

  &__logo {
    margin: 0;
    @extend .nav__logo;
    margin-top: 1.5rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $mercury;
    @include label-btn;
  }
}
