@use "./partials/partials" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/
/*MOBILE*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 16px 24px 16px 24px;

  @include tablet {
    flex-direction: row;
  }

  &__logo {
    margin: auto;
    height: 1.25rem;
    width: 7.5rem;

    @include tablet {
      margin: 0;
      display: flex;
      align-self: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &__link {
    color: $mercury;
    text-decoration: none;
    @include sub-header;

    @include tablet {
      display: flex;
      align-content: center;
      @include td-label-btn;
    }
  }

  &__link--active {
    border-bottom: 3px solid $mercury;
    padding-bottom: 1.0625rem;
  }
}

/*HERO SECTION*/
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 21vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;

  &__header {
    display: flex;
    align-self: center;
    color: $mercury;
    @include page-header;
  }
}

/*ABOUT SECTION*/
.about {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    @include section-header;
  }

  &__band {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__quote {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 300px;
    @include sub-header;
  }

  &__quotee {
    padding-bottom: 1rem;
    max-width: 18.75rem;
    @include sub-header;
  }

  &__musician {
    @include sub-header;
  }

  &__txt--first {
    max-width: 17.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include body-foot;
  }

  &__txt--second {
    max-width: 279px;
    padding-bottom: 1rem;
    @include body-foot;
  }
}

/*PHOTO GALLERY SECTION*/
.gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    @include section-header;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
  }
}

/*FOOTER SECTION*/
.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: $mercury;
    @include section-header;
  }

  &__social {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__icons {
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  &__contact {
    color: $mercury;
    list-style-type: none;
    @include body-foot;
  }

  &__person--name {
    padding-bottom: 16px;
    @include sub-header;
  }

  &__person--info {
    padding-bottom: 16px;
  }

  &__logo {
    margin: 0;
    @extend .nav__logo;
    margin-top: 1.5rem;
  }

  &__copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $mercury;
    @include label-btn;
  }
}
