@use "./partials/partials" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/
/*MOBILE*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 16px 24px 16px 24px;
}

.nav__logo {
  margin: auto;
  height: 1.25rem;
  width: 7.5rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav__link {
  color: $mercury;
  text-decoration: none;
  @include sub-header;
}

.nav__link--active {
  border-bottom: 2px solid $mercury;
  padding-bottom: 1.125rem;
}

/*HERO SECTION*/
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 21vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.hero__header {
  display: flex;
  align-self: center;
  color: $mercury;
  @include page-header;
}

/*ABOUT SECTION*/
.about {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.about__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  @include section-header;
}

.about__band {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__quote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 300px;
  @include sub-header;
}

.about__quotee {
  padding-bottom: 1rem;
  max-width: 18.75rem;
  @include sub-header;
}

.about__musician {
  @include sub-header;
}

.about__txt--first {
  max-width: 17.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include body-foot;
}

.about__txt--second {
  max-width: 279px;
  padding-bottom: 1rem;
  @include body-foot;
}

/*PHOTO GALLERY SECTION*/
.gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;
}

.gallery__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  @include section-header;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
}

/*FOOTER SECTION*/
.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: $mercury;
  @include section-header;
}

.footer__social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer__icons {
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.footer__contact {
  color: $mercury;
  list-style-type: none;
  @include body-foot;
}

.footer__person--name {
  padding-bottom: 16px;
  @include sub-header;
}

.footer__person--info {
  padding-bottom: 16px;
}

.footer__logo {
  margin: 0;
  @extend .nav__logo;
  margin-top: 1.5rem;
}

.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $mercury;
  @include label-btn;
}
