@use "../styles/partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/animations" as *;

/*HERO SECTION*/

/*<---Hero Img--->*/
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 60vw;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    background-position: bottom;
    height: 58vw;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  @include desktop {
    background-position: center -4rem;
    height: 46vw;
  }

  /*<---Overlay Background--->*/
  &__overlay {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @include desktop {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  /*<---Queen of Yellow Logo--->*/

  &__header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    color: $white;
    max-width: 15rem;
    z-index: 1;
    @include page-header;
  }
}

//MINI HERO HEADER//
.hero__album-title {
  padding: 24px 16px 16px 16px;
  @include body-foot;
  color: $white;
  z-index: 1;
}

.hero__song {
  height: 30%;
}

//SHOW SECTION//
.shows {
  padding: 24px 16px 16px 16px;
  width: 320px;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
}

.shows__table {
  width: 100%;
}

.shows__dates,
.shows__venues,
.shows__locations {
  display: flex;
  flex-direction: column;
}

.shows__dates:before {
  content: "DATE";

  @include tablet {
    display: none;
  }
}

.shows__venues:before {
  content: "VENUE";
  @include tablet {
    display: none;
  }
}

.shows__locations:before {
  content: "LOCATION";
  @include tablet {
    display: none;
  }
}

th {
  display: none;

  @include label-btn;
  color: $silver;

  @include tablet {
    display: table-cell;
  }
}

.shows__row {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 36px;
    border-bottom: 1px solid $mercury;
  }
}

//BUTTONS//
.shows__btn {
  width: 100%;
  @include button;

  @include tablet {
    width: 150px;
  }
}
