@use "../styles/partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/animations" as *;

/*HERO SECTION*/

/*<---Hero Img--->*/
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 60vw;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    background-position: bottom;
    height: 58vw;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  @include desktop {
    background-position: center -4rem;
    height: 46vw;
  }

  /*<---Overlay Background--->*/
  &__overlay {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @include desktop {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  /*<---Queen of Yellow Logo--->*/

  &__header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    color: $white;
    max-width: 15rem;
    z-index: 1;
    @include page-header;
  }
}

//MINI HERO HEADER//
.hero__album-title {
  padding: 24px 16px 16px 16px;
  @include body-foot;
  color: $white;
  z-index: 1;
}

// .hero__song {
//   font-size: 10px;
//   color: #cccccc;
//   line-break: anywhere;
//   word-break: normal;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
//     Garuda, Verdana, Tahoma, sans-serif;
//   font-weight: 100;
//   padding-top: 1rem;
//   display: flex;
//   justify-content: flex-end;
//   // z-index: 1;
// }

//SHOW SECTION//
th {
  @include label-btn;
  color: $silver;
}

tr {
  display: flex;
  flex-direction: column;
}
