@use "../styles/partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/animations" as *;

/*HERO SECTION*/

/*<---Hero Img--->*/
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 5rem;
  height: 90vw;
  min-width: 20rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    background-position: center;
    height: 70vw;
    padding-left: 2.25rem;
  }

  @include desktop {
    background-position: center -8rem;
    padding-left: 5rem;
    height: 50vw;
  }

  /*<---Overlay Background--->*/
  &__overlay {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 5rem;
      padding-right: 5rem;
      justify-content: space-between;
    }
  }

  // Beautiful Beasts Album Header//
  &__album-title {
    margin-top: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    @include body-foot;
    color: $white;
    z-index: 1;

    @include tablet {
      @include td-sub-header;
      margin-top: 8%;
      padding-left: 0;
    }

    @include desktop {
      margin-top: 20%;
      width: 100%;
      height: 2rem;
      padding: 0;
    }
  }

  /*<---Queen of Yellow Logo--->*/

  &__header {
    color: $white;
    z-index: 1;
    max-width: 15rem;
    @include page-header;

    @include tablet {
      @include td-page-header;
      max-width: 32rem;
      padding-left: 0;
    }

    @include desktop {
      max-width: 30rem;
      margin-bottom: 20%;
    }
  }
}

.hero__song {
  margin-top: 6%;
  height: 35vw;
  border-style: unset;
  border-bottom-left-radius: 0.25rem;

  @include tablet {
    margin-top: 2.25rem;
    height: 22vw;
    width: 54vw;
  }

  @include desktop {
    height: 11vw;
    width: 33vw;
    margin-top: 2px;
    margin-right: 5%;
  }
}

//SHOW SECTION//
.shows {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 20rem;

  @include tablet {
    padding: 48px 36px 36px 36px;
    width: 48rem;
  }

  @include desktop {
    margin: auto;
    width: 70rem;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
  }

  //Shows title//

  &__title {
    padding-left: 1rem;
    padding-bottom: 1rem;
    @include section-header;

    @include tablet {
      @include td-section-header;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  //Table styling//

  &__table {
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__dates {
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    padding-bottom: 1rem;
    @include body-foot;

    @include tablet {
      justify-content: left;
      align-self: center;
      height: 25%;
      width: 25%;
      padding: 0;
      margin-right: 1.125rem;
    }
  }

  &__venues,
  &__locations {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    @include body-foot;

    @include tablet {
      justify-content: left;
      align-self: center;
      height: 25%;
      width: 25%;
      padding: 0;
      margin-right: 1.125rem;
    }
  }

  &__dates:before {
    content: "DATE";
    font-weight: normal;
    color: $silver;
    @include body-foot;
    padding-top: 1rem;
    padding-bottom: 0.3125rem;

    @include tablet {
      display: none;
    }
  }

  &__venues:before {
    content: "VENUE";
    color: $silver;
    padding-bottom: 0.3125rem;
    @include body-foot;

    @include tablet {
      display: none;
    }
  }

  &__locations:before {
    content: "LOCATION";
    color: $silver;
    padding-bottom: 0.3125rem;
    @include body-foot;

    @include tablet {
      display: none;
    }
  }

  //Shows "Buy Tickets" Button//
  &__btn {
    width: 100%;
    margin-bottom: 1rem;
    @include button;

    @include tablet {
      margin: 0;
      width: 9.375rem;
      @include td-body-foot;
    }
  }

  //Row styles & Hovers//

  &__row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mercury;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
      background-color: $alabaster;
    }

    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
      border-bottom: 1px solid $mercury;
    }
  }

  //Table Header Row saying "DATE/VENUE/LOCATION"//
  &__hrow {
    @extend .shows__row;
    border-bottom: none;
  }
  // Added style for selecting row//
  .selected {
    background-color: $mercury !important;
  }

  //Actual Table Headers saying "DATE/VENUE/LOCATION"//

  th {
    display: none;
    @include label-btn;
    color: $mercury;

    @include tablet {
      display: table-cell;
      @include td-body-foot;
      color: $silver;
      width: 21%;
      text-align: left;
    }

    @include desktop {
      width: 18%;
    }
  }
}
